.form-control{
  width: 30%;
  border-radius: 0;
}
.card{
  margin-top: 10%;
}
.list-group-item{
  width: 30%;
  cursor: pointer;
}
.list-group-item.active a{
  color: #fff;
  text-decoration: none;
}

@media (max-width:767px){
  .form-control{
    width: 100%;
  }
  .list-group-item{
    width: 100%;
  }
}
